# macOS
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
**/terraform.tfvars
*.auto.tfvars
**/backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Env files
.env
*.local

# Local tool state
.omx/

# IDE
.vscode/
.idea/

# Logs
*.log
